
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AboutBox">
    <div id="box1" style="max-width: 300px">
        <img src="~/Content/Joans1.png" width="300">
        <h2>Jonas Ring</h2>
        <p>Jag jobbar för att utveckla och anpassa produkter och tjänster till att bli användarcentrerade och välfungerande. Med hjälp av min bakgrund har jag fått lära mig hur människan fungerar, både rent fysiologiskt och kognitivt. Jag vill med hjälp av min kunskap bidra till att ta fram smartare, effektivare lösningar och föra företag & samhället framåt mot nya möjligheter!</p>
    </div>
    <div id="box2" style="max-width: 300px">
        <img src="~/Content/Paul1.png" width="300">
        <h2>Paul Singh</h2>
        <p>

            Paul är en analytisk problemlösare med bakgrund inom IT och försäljning.

            Han är utbildad testautomatiserare och det var under studietiden som hungern för programmering växte. Utbildningen gav Paul en ökad förståelse kring roller och processer inom IT-projekt.

            Paul har även arbetat som försäljare av mjuk- och hårdvara inom B2B-försäljning. Yrket som säljare har stärkt Pauls kommunikations- och samarbetsförmåga.


        </p>
    </div>

    <div id="box1" style="max-width: 300px">
        <img src="~/Content/Angie3.png" width="300">
        <h2>Angie Huang</h2>
        <p>Med många års arbetslivserfarenhet av ledande strategiskt och operativt arbete inom marknadsföring, försäljning och pedagogiskt arbete har jag en bred grund att stå på. Jag är social, stresstålig, lösningsorienterad och positiv med en god organisationsförmåga. Jag utexaminerades med en masterexamen i transkulturell kommunikation med inriktning kommunikation, marknadsföring och ekonomi på universitetet, vilket lärde mig relevanta teorier och kompetens inom affärsutveckling och relationsbyggande.</p>


    </div>
    <div id="box2" style="max-width: 300px">
        <img src="~/Content/Emily1.png" width="300">
        <h2>Emily Magnusson</h2>
        <p>
            Jag har en bakgrund inom ekonomi och service. Har tidigare arbetat som ekonomi- och projektadministratör, en roll där jag bland annat fick jobba med IT-frågor och därigenom upptäckt att IT är en spännande bransch som jag gärna vill fördjupa sig i.

            Mina erfarenhet från mintid som reseledare har bidragit till att jag är väldigt flexibel och fått en större förståelse gentemot andras åsikter och behov.

            Hon ser Academy som en chans att få en stabil grund att stå på inför sin nya karriär.

            Som person är jag nyfiken, logisk och drivs av att hjälpa andra.
        </p>
    </div>


</div>


Contact <a href="mailto:paul50singh@hotmail.com">GeoClue</a>