
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AboutBox">
    <div div="box">
        <img src="~/Content/Joans1.png" width="500"><p>Jonas</p>
        <img src="~/Content/Paul1.png" width="500"><p>Paul</p>
        
        
    </div>
    
    <div div="box">
        <img src="~/Content/Angie3.png" width="500"><p>Angie</p>
        <img src="~/Content/Emily1.png" width="500"><p>Emily</p>
        
        
    </div>
    
</div>


