

@model HomeGameVM
<img src="@Model.ImageURL" />
<form asp-controller="Home" asp-action="Game">
    
    <label asp-for="CountryList"></label>
    <select asp-for="SelectedCountryValue" asp-items="Model.CountryList"> </select>
    <input type="submit" value="Guess" />
    <input type="submit" value="Hint" />
</form>
