@model HomeGameVM
@*
    @{
        var endTime = DateTime.UtcNow.AddSeconds(5);
        int timeRemaning = (int)TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;

    }
    <button class="button" id="timerBtn" onclick="startTick()">Timer Mode</button>
*@

@{

    var endTime = DateTime.UtcNow.AddSeconds(5);


    var timeRemaning = TimeSpan.FromTicks(endTime.Ticks - DateTime.UtcNow.Ticks).TotalSeconds;
}


<img id="MainImage" src="@Model.ImageURL[0]" alt="Picture of the country" />






    <div>
        <span id="secRemaning"></span>
    </div>


<div class="sticky" id="navbar">


    <div id="divResult" ></div>
    <div class="guessContainer">
        <div class="guessItem" >
            <label asp-for="CountryList"></label>
            <select id="selectedCountry" asp-for="SelectedCountryValue" asp-items="Model.CountryList"> </select>
        </div>
        <div class="guessItem" style="margin-left:10px";>
            <button class="button" id="btnGuess" type="submit">Guess</button>
        </div>
    </div>
            <form method="get" style="margin-bottom:10px;">
                <button class="button" asp-controller="Home" asp-action="Game">New Country</button>
            </form>
    <button class="button1" id="showPicture(1)" onclick="showPicture(1)" style="margin-right:20px; margin-bottom:10px;">Hint 1</button >
    <button class="button2" id="showPicture(2)" onclick="showPicture(2)" style="margin-right:20px;margin-bottom:10px;">Hint 2</button>
    <button class="button3" id="showPicture(3)" onclick="showPicture(3)" style="margin-bottom:10px;">Hint 3</button>

</div>


<div class="HintImg">
    <h4 id="Makevisible1" style="display:none;">Hint 1</h4>
    <img class="hintpic" id="hint1pic" />
    <h4 id="Makevisible2" style="display:none;">Hint 2</h4>
    <img class="hintpic" id="hint2pic" />
    <h4 id="Makevisible3" style="display:none;">Hint 3</h4>
    <img class="hintpic" id="hint3pic" />
</div>

<span id="timer"></span>

<button class="button" id="timerBtn" onclick="startTick()" asp-controller="Home" asp-action="Game">Timer Mode</button>

@section scripts
    {
    <script>


    function showPicture(x) {
        if (x == 1) {
            $('#Makevisible1').show();
            var sourceOfPicture = "@Model.ImageURL[1]";
            var img = document.getElementById("hint1pic")
            //$('#showPicture(1)').style.display = 'None';
            //$button.style.display = "none";
            //$("#showPicture(1)").css("color", "red");
            $('.button1').hide();
        }
        else if (x == 2) {
            $('#Makevisible2').show();
             var sourceOfPicture = "@Model.ImageURL[2]";
            var img = document.getElementById("hint2pic")
            $('.button2').hide();

        }
        else {
            $('#Makevisible3').show();
             var sourceOfPicture = "@Model.ImageURL[3]";
            var img = document.getElementById("hint3pic")
            $('.button3').hide();

        }

                img.src = sourceOfPicture.replace();
                img.style.display = "block"


        $.ajax({
            url: "/Game/Hint",
            type: "POST",
            success: function (result) {
                var html = "<div>" + result + "points" + "</div>";
                $("#divResult").html(html);
                //console.log(result)
            }
        });

    }

            $("#btnGuess").click(function () {
                var chooseCountry = $("#selectedCountry option:selected").text();
                $.ajax({
                    url: "/Game/SinglePlayer",
                    data: {country: chooseCountry},
                    type: "POST",
                    success: function (result) {
                    $("#divResult").html(result);
                    }
                });
            });


        var remSeconds = 60;
         function startTick() {


             document.getElementById("timer").innerHTML = remSeconds;

            var _tick = setInterval(function () {
                remSeconds = remSeconds - 1;
                document.getElementById("timer").innerHTML = remSeconds;

                if (remSeconds == 0) {
                    alert('New guess !');
                    localStorage.setItem('IsTimerOn', true);
                    clearInterval(_tick);
                    location.reload();
                    

                }

            }, 1000);

        }
        var IsTimerOn = localStorage.getItem("IsTimerOn");
        console.log(IsTimerOn);
        if (IsTimerOn=="true") {

            console.log("starting");
            startTick();
        }
        else
            console.log("Not starting");
       




    </script>


}
