
@model HomeGameVM

<img id="MainImage" src="@Model.ImageURL[0]" alt="Picture of the country" />

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<div class="sticky" id="navbar">
>>>>>>> parent of 0eb24de... sticky 2
=======
<div class="sticky" id="navbar">
>>>>>>> parent of 0eb24de... sticky 2
=======
<div class="sticky" id="navbar">
>>>>>>> parent of 0eb24de... sticky 2
    <label asp-for="CountryList"></label>
    <select id="selectedCountry" asp-for="SelectedCountryValue" asp-items="Model.CountryList"> </select>

    <div id="divResult"></div>

    <button class="button" id="btnGuess" type="submit">Guess</button>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 0eb24de... sticky 2
=======
>>>>>>> parent of 0eb24de... sticky 2

    <form method="get">
        <button class="button" asp-controller="Home" asp-action="Game">New Country</button>

    </form>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> parent of 0eb24de... sticky 2

    <form method="get">
        <button class="button" asp-controller="Home" asp-action="Game">New Country</button>

    </form>
=======
>>>>>>> parent of 0eb24de... sticky 2
=======
>>>>>>> parent of 0eb24de... sticky 2
</div>
    <img class="hintpic" id="hint1pic" src="hint1pic" />
    <button class="button" onclick="showPicture1()">Hint 1</button> 
    
    <img class="hintpic" id="hint2pic" src="hint2pic" /> 
    <button class="button" onclick="showPicture2()">Hint 2</button> 
     
    <img class="hintpic" id="hint3pic" src="hint3pic" /> 
    <button class="button" onclick="showPicture3()">Hint 3</button> 


    @section scripts
        {
        <script>
            function showPicture1() {
                var sourceOfPicture = "@Model.ImageURL[1]";
                var img = document.getElementById('hint1pic')
                img.src = sourceOfPicture.replace();
                img.style.display = "block"; 
            }

            function showPicture2() {
                var sourceOfPicture = "@Model.ImageURL[2]";
                var img = document.getElementById('hint2pic')
                img.src = sourceOfPicture.replace();
                img.style.display = "block"; 
            }

            function showPicture3() {
            var sourceOfPicture = "@Model.ImageURL[3]";
            var img = document.getElementById('hint3pic')
            img.src = sourceOfPicture.replace();
            img.style.display = "block";
            }

            $("#btnGuess").click(function () {
                var chooseCountry = $("#selectedCountry option:selected").text();
                $.ajax({
                    url: "/Game/SinglePlayer",
                    data: {country: chooseCountry},
                    type: "POST",
                    success: function (result) {
                    $("#divResult").html(result);
                    }
                });
            });
        </script>
    }

 