@{
    @model AccountLoginVM
    ViewBag.Title = "Index";
}

<form method="get" asp-controller="Account" asp-action="Login">
    @*asp-route-returnUrl="@Model.ReturnUrl"*@
    <input class="IndexButton" type="submit" value="Sign in to account" />
</form>
<a asp-controller="Account" asp-action="Register">Register as user</a>

<form method="get" asp-controller="Account" asp-action="Welcome">
    <input style="color:white" class="IndexButton" type="submit" value="Try as guest" />
</form>


