
@{
    ViewData["Title"] = "Learn the game ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="AboutBox">
    <div id="box1" style="max-width: 300px">
        <h1>Singleplayer</h1>

        <p>Du får en bild från ett slumpmässigt land visad och din uppgift är att gissa rätt land, du ytterligare tre ledtrådar.</p>
    </div>
    <div id="box2" style="max-width: 300px">
        <h1>Singleplayer timer mode</h1>

        <p>Fungerar precis som Singleplayer fast med press, du har fortfarande tre ledtrådar men ska gissa rätt land inom 60 sekunder.</p>
    </div>

    <div id="box1" style="max-width: 300px">
        <h1>Multiplayer</h1>
        <p>I detta läge kan du söka efter andra spelare att spela med.</p>


    </div>
    <div id="box2" style="max-width: 300px">

    </div>
</div>


Contact <a href="mailto:paul50singh@hotmail.com">GeoClue</a>