
@{
    ViewData["Title"] = "Learn the game ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="InfoBox">
    <div id="box1" style="max-width: 300px">

        <h1>Singleplayer</h1>
        <p>The player gets a picture taken from a random country displayed, the challenge is to guess what country the picture is taken in. The player has three hints at disposal in the form of other images from the same country.</p>
        
        <h1>Points</h1>
        <p>At the beginning of a round the player starts with the score of twenty. Each new hint used results in five points deduction of the total score for that round.The goal is to keep as many point as possible. </p>

    </div>
    <div id="box2" style="max-width: 300px">
        <h1>Singleplayer timer mode</h1>

        <p>Works just like Singleplayer but with a twist, in this mode the player have to guess the country within a time limit.</p>

        <h1>Multiplayer</h1>
        <p>
            Feauture release:
            Connect to player and play the game
        </p>
    </div>

    @*<div id="box1" style="max-width: 300px">
        <h1>Multiplayer</h1>
        <p>Feauture release:
        Connect to player and play the game </p>
    </div>*@
    
</div>
<br/>
<br/>

Contact <a href="mailto:paul50singh@hotmail.com">GeoClue</a>