@model MultiLobbyVM
    <h1>Multiplayer</h1>
    <h3>SEARCH PLAYER: </h3>
    <select>
        <option value="value">Bo</option>
        <option value="value">Li</option>
        <option value="value">An</option>

    </select>      
<button>OK</button>
<h3>RANDOM SEARCH:</h3>

<button>OK</button>


<div id="menubar">
    <a asp-controller="Multi" asp-action="Cluemaster">ClueMaster</a>
    <a asp-controller="Multi" asp-action="Receiver">Receiver</a>
</div>