@model MultiLobbyVM
    <h1>Multiplayer</h1>
    <h3>SEARCH PLAYER: </h3>
    @*<label asp-for="PlayerList"></label>
    <select id="selectedUser" asp-for="SelectedPlayerValue" asp-items="Model.PlayerList">  
    </select>*@
<h3>RANDOM SEARCH:</h3>
<input type="text" name="name" value="" />
<button>OK</button>


<div id="menubar">
    <a asp-controller="Multi" asp-action="Cluemaster">ClueMaster</a>
    <a asp-controller="Multi" asp-action="Receiver">Receiver</a>
</div>