@model HomeGameVM
<h1>Multiplayer</h1>

<label asp-for="CountryList"></label>
<select id="selectedCountry" asp-for="SelectedCountryValue" asp-items="Model.CountryList"> </select>
<button class="button" id="btnGuess" type="submit">Guess</button>
<button class="button">Cheating</button>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <label>User:</label><input type="text" id="userInput" />
            <br />
            <label>Message:</label><input type="text" id="messageInput" />
            <br />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>



@section scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}

