
@{ViewBag.Title = "Register"; }
@model AccountRegisterVM

<h3>Register</h3>
<form asp-controller="Account" asp-action="Register">
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <label asp-for="PasswordRepeat"></label>
    <input asp-for="PasswordRepeat" />
    <span asp-validation-for="PasswordRepeat"></span>
    <br />
    <input style="color:white" type="submit" value="Register" />
</form>


<a asp-controller="Account" asp-action="Login">
    <input style="color:white" type="submit" value="Go to Log in" />
</a>



<div asp-validation-summary="All"></div>

