@model AccountWelcomeVM


@{
    ViewData["Title"] = "Members";
}

<h1>Hello @Model.Username</h1>


@if ((Context.User != null) && Context.User.Identity.IsAuthenticated)
{
    <p>Your total score is: @Model.Score </p>
}

else
{
    <p>
        If you want to see your score please <a asp-controller="Account" asp-action="Register">register</a>
    </p>
    <br />

}
<form method="get" asp-controller="Home" asp-action="Game">
    <input type="submit" class="button" value="Singleplayer" />
</form>
<form method="get" asp-controller="Multi" asp-action="Lobby">

    <input type="submit" class="button" value="Multiplayer" />

</form>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <label> User:</label>
            <input type="text" id="userInput" />
            <br />
            <label>Message:</label>
            <input type="text" id="messageInput" />
            <br />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    <script>
        console.log("Resetting");
        localStorage.setItem('IsTimerOn', false);

    </script>
}

