@model AccountWelcomeVM
@{
    ViewData["Title"] = "Members";
}
<h1>Members</h1>

<p>Hello @Model.Username</p>


@if ((Context.User != null) && Context.User.Identity.IsAuthenticated)
{


    <p>This is your total score: </p>

    <form asp-controller="Account" asp-action="Logout">
        <Input type="submit" value="Logout" />
    </form>

}
else
{
    <p>
        If you want to see your score please   <a asp-controller="Account" asp-action="Register">register</a>
    </p>
    <br />

    <form method="get">
        <button asp-controller="Home" asp-action="Game">Singleplayer</button>
        <button asp-controller="Home" asp-action="Register">Multiplayer</button>
    </form>
}

