@model AccountWelcomeVM


@{
    ViewData["Title"] = "Members";
}
<h1>Members</h1>

<p>Hello @Model.Username</p>


@if ((Context.User != null) && Context.User.Identity.IsAuthenticated)
{
    <p>This is your total score:  </p>

    <form asp-controller="Account" asp-action="Logout">
        <Input style="color:white" type="submit" value="Logout" />
    </form>

 
}
else
{
    <p>
        If you want to see your score please <a asp-controller="Account" asp-action="Register">register</a>
    </p>
    <br />

}
<form method="get" asp-controller="Home" asp-action="Game">
    <input type="submit" class="button" value="Singleplayer"/>
</form>
<form method="get" asp-controller="Home" asp-action="Register">

    <input type="submit" class="button" value="Multiplayer" />
    
</form>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            User..........<input type="text" id="userInput" />
            <br />
            Message...<input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>

@section scripts
        {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
