<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="@Url.Content("../Content/Master.css")" />
</head>
<body>
    @if ((Context.User != null) && Context.User.Identity.IsAuthenticated)
    {
    <div id="menubar">

        <a href="/Home/Index">Home</a>
        <a href="/Game/Singleplayer">Single</a>
        <a href="/Multi/Lobby">Multiplayer</a>
        <a href="/Account/Welcome">My Page</a>


    </div>

    }
    else
    {
        <div id="menubar">
            <a href="/Home/Index">Home</a>
            <a href="/Account/Login">Login</a>
            <a href="/Account/Register">Register</a>
            <a href="/Account/Welcome">Guest</a>
          
        </div>
    }

    <h1>Geo Clue</h1>
    <div id="ContentBox" @*style="background-color:#CCC; padding:10px;" *@>
        @RenderBody()
        <footer>&copy; GeoCatch 2019</footer>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>

