<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
</head>
<body>
    <div id="menubar">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="Game">Single</a>
        <a asp-controller="Home" asp-action="Game">Multiplayer</a>
        <a asp-controller="Home" asp-action="Login">Login</a>
        <a asp-controller="Home" asp-action="Register">Register</a>
    </div>
    <h1>Geo Clue</h1>    <div style="background-color:#CCC; padding:10px;">
    @RenderBody()
    </div>
    <footer>&copy; GeoCatch 2019</footer>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    @RenderSection("scripts", false)

</body>
</html>

<style> 
    h1{
        text-align:center;
    }
    footer{
        text-align:center;
        position:absolute;
        width:100%;
        bottom:0;
        background-color:cornflowerblue;
    }
    
    #menubar {
        background-color: blue;
    }

    #menubar a {
        color: white;
        text-decoration:none;
    }

    #menubar a hover {
        color: black;
    }


</style>
